.polygon-animate {
  position: absolute;
  animation: animat 4s infinite;
  z-index: 0;
}

@keyframes animat {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
/* DELAY */

.delay-1 {
  animation-delay: -1s;
}
.delay-2 {
  animation-delay: -1.5s;
}
.delay-3 {
  animation-delay: -1.8s;
}
.delay-4 {
  animation-delay: -1.9s;
}
.delay-5 {
  animation-delay: -2s;
}
.delay-6 {
  animation-delay: 2s;
}
.delay-7 {
  animation-delay: 1s;
}
.delay-8 {
  animation-delay: 0.5s;
}
.delay-9 {
  animation-delay: 0.8s;
}
.delay-10 {
  animation-delay: 1.5s;
}
.delay-11 {
  animation-delay: 1.2s;
}
.delay-12 {
  animation-delay: 1.9s;
}
.delay-13 {
  animation-delay: 2.2s;
}
.delay-14 {
  animation-delay: 2.7s;
}
.delay-15 {
  animation-delay: 2.9s;
}
.delay-16 {
  animation-delay: 3.2s;
}

/*  Delay*/
.st0 {
  fill: none;
  stroke: #0b1b51;
  stroke-width: 62;
  stroke-miterlimit: 10;
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

/* Sppedometer */

.speedometer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 162px;
  height: 500px;
  left: 214px;
  width: 375px;
}

.speedometer svg {
  width: calc(75vh * 327 / 205.4);
  height: 75vh;
  
}

.speedometer path {
  /* fill: #0b1b51; */
  fill: transparent;
}

.needle {
  position: absolute;
  display: none;
  height: 0vh;
  bottom: 35vh;
  left: calc(50% - 4.5vh);
  width: 2vh;
  background: rgba(255, 255, 255, 0.233);
  transform-origin: bottom center;
  transform: rotate(0deg);
}
/* SPIN */
/* .column.center .transform{
   transform: translate(-50%, -50%);
} */
.column.center .animatio-spin,
.cyrcle-rotate {
  transform-origin: center;
  animation-name: spin;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform-box: fill-box;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GLOBE ANIMATION */
/* OTHER */

.btn-filials:hover {
  transform: translate(0px, -15px) scale(1.04);
  z-index: 4;
}

@keyframes tulskiy-un {
  0% {
    width: 0px;
  }
  10% {
    width: 156px;
  }
  12% {
    width: 140px;
  }
  50% {
    width: 150px;
  }
  60% {
    width: 155px;
  }
  65% {
    width: 145px;
  }
  85% {
    width: 155px;
  }
  85% {
    width: 155px;
  }
}
@keyframes volgradskiy-un {
  0% {
    width: 0px;
  }
  15% {
    width: 129px;
  }
  16% {
    width: 110px;
  }
  34% {
    width: 120px;
  }
  50% {
    width: 135px;
  }
  45% {
    width: 125px;
  }
  65% {
    width: 135px;
  }
  85% {
    width: 129px;
  }
}
@keyframes sevastopl-un {
   0% {
    width: 0px;
  }
  15% {
    width: 129px;
  }
  16% {
    width: 110px;
  }
  34% {
    width: 120px;
  }
  50% {
    width: 135px;
  }
  45% {
    width: 125px;
  }
  65% {
    width: 135px;
  }
  85% {
    width: 129px;
  }
}

@keyframes sevastopol-un-two {
    0.0%{
    }
    10.9%{
        width: 73px;
    }
    21.7%{
        width: 85px;
    }
    31.1%{
        width: 74px;
    }
    45.2%{
        width: 80px;
    }
    54.3%{
        width: 75px;
    }
    60.4%{
        width: 65px;
    }
    69.1%{
        width: 88px;
    }
    76.4%{
        width: 75px;
    }
    85.2%{
        width: 88px;
    }
    93.5%{
        width: 75px;
    }
}
 @keyframes tylskiy-two {
    0.0%{
        width: 0px;
    }
    17.3%{
        width: 140px;
    }
    22.6%{
        width: 155px;
    }
    29.8%{
        width: 145px;
    }
    41.2%{
        width: 135px;
    }
    52.9%{
        width: 145px;
    }
    61.8%{
        width: 155px;
    }
    7.9%{
        width: 156px;
    }
    71.8%{
        width: 165px;
    }
    77.1%{
        width: 130px;
    }
    85.6%{
        width: 145px;
    }
    92.9%{
        width: 148px;
    }
} 
 @keyframes sevastopolskiy-two {
    0.0%{
        width: 0px;
    }
    15.3%{
        width: 129px;
    }
    18.6%{
        width: 135px;
    }
    35.8%{
        width: 125px;
    }
    45.2%{
        width: 139px;
    }
    55.9%{
        width: 105px;
    }
    65.8%{
        width: 135px;
    }
    7.9%{
        width: 120px;
    }
    75.8%{
        width: 125px;
    }
    79.1%{
        width: 135px;
    }
    81.6%{
        width: 130px;
    }
    95.9%{
        width: 135px;
    }
} 

@keyframes sevastopol-two {
    0.0%{
        width: 0px;
    }
    15.3%{
        width: 70%;
    }
    18.6%{
        width: 65%;
    }
    35.8%{
        width: 75%;
    }
    45.2%{
        width: 70%;
    }
    55.9%{
        width: 75%;
    }
    65.8%{
        width: 60%;
    }
    7.9%{
        width: 70%;
    }
    75.8%{
        width: 75%;
    }
    79.1%{
        width: 65%;
    }
    81.6%{
        width: 58%;
    }
    95.9%{
        width: 63%;
    }
} 
@keyframes circleblock {
  from {
     transform: translate(0px, 0px) scale(1);
  }
    to {
       transform: translate(4px, 3px) scale(0.95);
    }
}


@keyframes circleblock-bottom {
    from {
     transform: translate(0px, 0px) scale(1);
  }
    to {
       transform: translate(0px, -3px) scale(0.95);
    }
}

