.App {
  text-align: center;
}

.earth-container {
                  position: relative;
                  z-index: 1;
                }

                .earth-container::before {
                  content: "";
                  display: block;
                  padding-top: 100%;
                }

                .earth-container > canvas {
                  position: absolute;
                  top: -30px;
                  left: -22px;
                  user-select: none;
                  opacity: 1;
                  z-index: 1;
                }

                .earth-draggable {
                  cursor: all-scroll;
                  cursor: -webkit-grab;
                  cursor: grab;
                }

                .earth-dragging * {
                  cursor: all-scroll;
                  cursor: -webkit-grabbing !important;
                  cursor: grabbing !important;
                }

                .earth-clickable {
                  cursor: pointer;
                }

                .earth-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  user-select: none;
                  pointer-events: none;
                  transform-origin: 0 0;
                }

                .earth-overlay a,
                .earth-overlay input,
                .earth-overlay button {
                  pointer-events: all;
                }

                .earth-hittest {
                  position: fixed;
                  width: 200vh;
                  max-width: 100%;
                  top: 0;
                  left: 0;
                }

                .earth-hittest svg {
                  max-width: 100%;
                  height: auto;
                  display: block;
                  margin: 0;
                  opacity: 0;
                }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
